<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create new item</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"> </script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"> </script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="fullbleed layout vertical">
   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
         <div class="navbar-header">
            <a href="/" class="navbar-brand">Catalog</a>
         </div>
         <div class="navbar-collapse collapse">
           <ul class="nav navbar-nav navbar-right">
             {% if user==None %}
             <li><div id="signinButton">
               <span class="g-signin"
                 data-scope="openid"
                 data-clientid="671978925181-d15vpasjm8kdi2r56vclndcj08qdkag2.apps.googleusercontent.com"
                 data-redirecturi="catalog"
                 data-accesstype="offline"
                 data-cookiepolicy="single_host_origin"
                 data-callback="signInCallback"
                 data-approvalprompt="force">
               </span>
             </div></li>
             {% else %}
               <li><a href="">Logged in as: {{ user }}</a></li>
               <li><a href="{{ url_for('gdisconnect') }}">Sign out</a></li>
             {% endif %}
           </ul>
         </div>
      </div>
   </nav>
   <div class="container">
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
    <h3>Add new item</h3>
    <form action="{{ url_for('editItem', item_title=item.title)}}" method='post'>
      <label for="title">Title:</label>
      <input type="text" name='title' value="{{item.title}}"> <br>
      <label for="description">Description:</label> <br>
      <textarea name="description" rows="8" cols="40">{{item.description}}</textarea> <br>
      <label for="category_id">Category:</label>
      <select name="category_id">
        {% for category_option in categories %}
          <option value="{{category_option.id}}" {{"selected" if category_option.name==category.name}}>{{ category_option.name }}</option>
        {% endfor %}
      </select><br> <br>
      <input class="btn btn-block btn-success center" type='submit' value='Update'>
    </form>
    <div class = 'flash'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning" role="alert">
           {% for message in messages %}
           <li> <strong> {{ message }} </strong> </li>
           {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
     </div>
  </div>
  </div>
  </div>
</body>
</html>
