<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Item Catalog</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"> </script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"> </script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  <script type="text/javascript" src="https://apis.google.com/js/client:platform.js?onload=start"></script>
</head>
<body class="fullbleed layout vertical">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Catalog</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {% if user==None %}
          <li><div id="signinButton">
            <span class="g-signin"
              data-scope="openid"
              data-clientid="629290337622-6q1oocjh9japg8u2fl3h6k30jjvuumla.apps.googleusercontent.com"
              data-redirecturi="catalog"
              data-accesstype="offline"
              data-cookiepolicy="single_host_origin"
              data-callback="signInCallback"
              data-approvalprompt="force">
            </span>
          </div></li>
          {% else %}
            <li><a href="">Logged in as: {{ user }}</a></li>
            <li><a href="{{ url_for('gdisconnect') }}">Sign out</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- Displaying flash messages -->
  <div class="container">
   <div class="row">
      <div class="col-md-4">
         <h4>Categories</h4>
         <div class="list-group">
            {% for category in categories %}
            <a class="list-group-item" href="{{ url_for('getCategoryItems', category_name=category.name) }}" >{{ category.name }} </a>
            {% endfor %}
         </div>
      </div>
      <div class="col-md-8">
         <h4>Latest Items <span class="pull-right"><a href="{{ url_for('newItem') }}"> Add Item </a></span></h4>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for item in items %}
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{item.id}}">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{item.id}}" aria-expanded="true" aria-controls="collapse{{item.id}}">
                      {{item.title}}
                    </a>
                  </h4>
                </div>
                <div id="collapse{{item.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{item.id}}">
                    <div class="panel-body">
                      <label for="">Description</label> <br>
                      {{item.description}} <br> <br>
                      <form action="{{ url_for('deleteItem', item_title=item.title)}}" method='get'>
                        <a class="btn btn-primary" href="{{ url_for('editItem', item_title=item.title) }}"> Edit </a>
                        <input class="btn btn-danger" type="submit" value='Delete'>
                      </form>
                    </div>
                </div>
              </div>
            {% endfor %}
          </div>
         </div>
      </div>

      <div class = 'flash'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning" role="alert">
           {% for message in messages %}
           <li> <strong> {{ message }} </strong> </li>
           {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
     </div>
     <div id="result"></div>
    </div>
    </div>
    <script>
      function signInCallback(authResult) {
        if(authResult['code']) {
          $('#signinButton').attr('style', 'display: none');
          $.ajax({
            type: 'POST',
            url: '/catalog?state={{STATE}}',
            processData: false,
            data: authResult['code'],
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
              // Handle or verify the server response if necessary.
              if (result) {
                $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
               setTimeout(function() {
                window.location.href = "/catalog";
               }, 4000);
            } else if (authResult['error']) {
              console.log('There was an error: ' + authResult['error']);
            } else {
              $('#result').html('Failed to make a server-side call. Check your configuration and console.');
           }
          }
        }); } }
  </script>
    </body>
    </html>
